<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sample Website</title>
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   </head>
   <body>
      <!-- Header Section-->

      <header>
         <nav>
            <ul>
               <a class="logo">My Personal Information</a>
            </ul>
         </nav>
      </header>
      <!-- Body Section -->

      <div id="home" class="parallax">
         <div>
            <!--profile pic -->
            <article class="profile">
               <header>
                  <figure>
                     <img src="https://storage.googleapis.com/dicoding-project-bucket/mypic.jpg" alt="Christofer Alexander" />
                     <h4>Christofer Alexander Kumentas</h4>
                     <h5>Bangkit 2022 student</h5>
                  </figure>
               </header>
            </article>
         </div>
      </div>

      <main>
         <div id="content">
            <article id="mystory" class="card">
               <h4>My Story</h4>
               <hr />
               <p>
                  An enthusiastic sixth-semester university student majoring in Informatics eager to learn and participate in technology-related
                  activities. Interested in exploring more about data and cloud-related activities. Experience building an end-to-end data pipeline
                  using Airflow as well as running, managing, and monitoring services in GCP. Apart from my technical abilities, I enjoy reading comic
                  books and participating in athletic activities since they keep me fit and boost my overall mental health. I enjoy pursuing and
                  improving my understanding of cloud services, alongwith the implementation of data engineering.
               </p>
            </article>

            <article id="mystory" class="card">
               <h4>My Education</h4>
               <hr />
               <ul>
                  <li>Universitas Multimedia Nusantara</li>
                  <li>DigitalSkola Data Engineering Batch 5</li>
                  <li>Skolah Victory Plus</li>
               </ul>
            </article>
         </div>
         <!-- additional info Section -->

         <aside>
            <article class="profile card">
               <section class="info_tambah">
                  <h3>Additional Information</h3>
                  <hr />
                  <table>
                     <tr>
                        <th>Age:</th>
                        <td>21 years old</td>
                     </tr>
                     <tr>
                        <th>Phone:</th>
                        <td>+62-8131-1351-XXX</td>
                     </tr>
                     <tr>
                        <th>Email:</th>
                        <td>christofer123.alexander@gmail.com</td>
                     </tr>
                  </table>
                  <div class="icon">
                     <a href="https://www.instagram.com/christo_alx/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                     <a href="https://www.linkedin.com/in/christofer-alexander-300831225/" target="_blank" rel="noopener"
                        ><i class="fa fa-linkedin"></i
                     ></a>
                     <a href="https://github.com/Chris503g" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
                  </div>
               </section>
            </article>
         </aside>
      </main>
      <!-- Footer Section -->

      <footer>
         <!-- <p>My Persosnal Information&copy; 2022, Christofer Alexander Kumentas</p> -->
      </footer>

      <script src="assets/script.js"></script>
   </body>
</html>
